# FastAPI and ASGI server
fastapi==0.115.12
uvicorn[standard]==0.34.2
gunicorn==23.0.0

# Database
sqlalchemy==2.0.40
alembic==1.15.2
asyncpg==0.30.0
psycopg2-binary==2.9.10

# Utilities
python-dotenv==1.1.0
pydantic==2.11.3
pydantic-settings==2.9.1
email-validator==2.2.0
python-jose[cryptography]==3.4.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
tenacity==9.1.2

# Testing
pytest==8.3.5
pytest-asyncio==0.26.0
httpx==0.28.1
pytest-cov==6.1.1

# Code quality
black==25.1.0
isort==6.0.1
flake8==7.2.0
mypy==1.15.0

# debugging
debugpy==1.8.14

# logging
loguru==0.7.3

# locust
locust==2.36.2

# prometheus
prometheus-fastapi-instrumentator==7.1.0

# improvments
uvloop==0.21.0
httptools==0.6.4
orjson==3.10.18